.c{
               width: 100%;
           }
           #w{
               width: 32.5%;
               display: inline;
           }
           .e{
               color: white;
               font-weight: bold;
           }
           #s{
               background-color: rgb(44, 82, 206);
               width: 100%;
               color: white;
           }
           table{

               margin: auto;
           }
          h1,h4{
              text-align: center;
              color: white;
          }
          div{
              background-color: black;
              margin-left: 500px;
              margin-right: 500px;
            }
